@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-background-color: hsl(0,0%,5%);
    --primary-text-color: hsl(0,0%,88%);
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--primary-background-color);
    scroll-behavior: smooth;
}


.text-primary {
    @apply text-[var(--primary-text-color)];
}

.bg-primary {
    @apply bg-[var(--primary-background-color)];
}

.glass-container {
    @apply bg-neutral-900 p-1 ring-[#e17575]/50 shadow-lg shadow-black
}

.glass-container-hover:hover {
    @apply p-1 ring-2 ring-blue-950
}

.outlinedText {
    @apply drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)];
}

.markdown h1 {
    @apply text-2xl sm:text-3xl font-bold mb-5 sm:mb-6 text-pretty;
}

.markdown h2 {
    @apply text-xl sm:text-2xl font-bold mb-4 sm:mb-5 text-pretty;
}

.markdown h3 {
    @apply text-lg sm:text-xl font-bold mb-3 sm:mb-4 text-pretty;
}

.markdown p {
    @apply sm:text-lg mb-4 sm:mb-5 text-pretty leading-relaxed;
}

.markdown ul, .markdown ol {
    @apply list-disc pl-3 sm:pl-4 mb-4 sm:mb-5 text-pretty;
}

.markdown a {
    @apply font-bold underline text-primary;
}